### No caching, leave it to service workers

<IfModule mod_headers.c>
    <filesMatch "\.(ico|svg|png|eot|woff2|woff|ttf|css|json|js|php|html)$">
        Header unset Cache-Control
        Header unset Last-Modified
        Header unset ETag
        FileETag None
    </filesMatch>
</IfModule>